## Python Basics - Domain Specific Assignment

#### 1. Using psycopg2 connect to a local database and create the following tables:
a. Doctor (id, name, specialization (FK), phone_number) <br/>
b. Patient (id, name, date_of_birth, gender) <br/>
c. Appointment (id, doctor_id (FK), patient_id (FK), fee, diagnosis) <br/>
d. Doctor Specialization (id, specialization_type)

In [1]:
import psycopg2 as pg2

In [2]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="hospital_db"
    )
    
    cursor = connection.cursor()
    
    create_patient_query = '''
        CREATE TABLE IF NOT EXISTS Patient (
            id INT PRIMARY KEY,
            name VARCHAR(50) NOT NULL,
            date_of_birth DATE NOT NULL,
            gender VARCHAR(10) NOT NULL
        )
    '''
    create_specialization_query = '''
        CREATE TABLE IF NOT EXISTS Doctor_Specialization (
            id INT PRIMARY KEY,
            specialization_type VARCHAR(50) NOT NULL
        )
    '''
    
    create_doctor_query = '''
        CREATE TABLE IF NOT EXISTS Doctor (
            id INT PRIMARY KEY,
            name VARCHAR(50) NOT NULL,
            specialization INT NOT NULL,
            phone_number VARCHAR(10) NOT NULL,
            CONSTRAINT doc_spec_fk FOREIGN KEY(specialization) REFERENCES Doctor_Specialization(id)
        )

    '''
    
    create_appointment_query = '''
        CREATE TABLE IF NOT EXISTS Appointment (
            id INT PRIMARY KEY,
            doctor_id INT NOT NULL,
            patient_id INT NOT NULL,
            fee INT NOT NULL,
            diagnosis VARCHAR(100),
            CONSTRAINT doc_fk FOREIGN KEY(doctor_id) REFERENCES Doctor(id),
            CONSTRAINT pat_fk FOREIGN KEY(patient_id) REFERENCES Patient(id)
        )
    '''
    
    cursor.execute(create_patient_query)
    cursor.execute(create_specialization_query)
    cursor.execute(create_doctor_query)
    cursor.execute(create_appointment_query)

    connection.commit()
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

<hr/>

#### 2. INSERT the following data in the tables. Use both execute() and executemany() methods with parameter binding.

In [3]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="hospital_db"
    )
    
    cursor = connection.cursor()
    
    # for Patient table
    insert_patient_query = '''
         INSERT INTO Patient 
         VALUES (%(id)s, %(name)s, %(date_of_birth)s, %(gender)s)
     '''
    
    patient_data = [
        {
            'id': 1,
            'name': 'Jane Henderson',
            'date_of_birth': '1989-09-19',
            'gender': 'Female'
        }, 
        {
            'id': 2,
            'name': 'Alice Sprigg',
            'date_of_birth': '1991-11-12',
            'gender': 'Female'
        },
        {
            'id': 3,
            'name': 'Dave Carr',
            'date_of_birth': '1995-03-28',
            'gender': 'Male'
        },
        {
            'id': 4,
            'name': 'Morris Beckman',
            'date_of_birth': '2001-07-07',
            'gender': 'Male'
        }

    ]
    
    cursor.executemany(insert_patient_query, patient_data)
    
    # for Doctor_Specialization table    
    insert_specialization_query = '''
       INSERT INTO Doctor_Specialization 
       VALUES (%(id)s, %(specialization_type)s)
    '''
    
    specialization_data = [
        {
            'id': 1,
            'specialization_type': 'Anaesthesiologist'
        },
        {
            'id': 2,
            'specialization_type': 'Surgeon'
        },
        {
            'id': 3,
            'specialization_type': 'Psychiatrist'
        }
    ]  
    
    for data in specialization_data:
        cursor.execute(insert_specialization_query, data)
    
    # for Doctor table
    insert_doctor_query = '''
        INSERT INTO Doctor
        VALUES (%(id)s, %(name)s, %(specialization)s, %(phone_number)s)
    '''
    
    doctor_data = [
        {
            'id': 1,
            'name': "Lional Smart",
            'specialization': 1,
            'phone_number': "2811232323"
        },
        {
            'id': 2,
            'name': "Michelle Sanders",
            'specialization': 2,
            'phone_number': "1899912310"
        },
        {
            'id': 3,
            'name': "Pretti Patel",
            'specialization': 3,
            'phone_number': "7980123982"
        },
        {
            'id': 4,
            'name': "Sadiq Khan",
            'specialization': 1,
            'phone_number': "7983129813"
        },
        {
            'id': 5,
            'name': "Chaz Smith",
            'specialization': 2,
            'phone_number': "2039820398"
        }
    ]
    
    cursor.executemany(insert_doctor_query, doctor_data)
    
    # for Appointment table
    insert_appointment_query = '''
        INSERT INTO Appointment
        VALUES (%(id)s, %(doctor_id)s, %(patient_id)s, %(fee)s, %(diagnosis)s)
    '''
    
    appointment_data = [
        {
            'id': 1,
            'doctor_id': 1,
            'patient_id': 2,
            'fee': 1000,
            'diagnosis': ""
        },
        {
            'id': 2,
            'doctor_id': 1,
            'patient_id': 4,
            'fee': 1000,
            'diagnosis': "Headache"
        },
        {
            'id': 3,
            'doctor_id': 4,
            'patient_id': 3,
            'fee': 2000,
            'diagnosis': ""
        },
        {
            'id': 4,
            'doctor_id': 2,
            'patient_id': 1,
            'fee': 1500,
            'diagnosis': "Back Pain"
        }
    ]
    
    cursor.executemany(insert_appointment_query, appointment_data)

    connection.commit()
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

<hr/>

#### 3. GET the count of patients born after 1990.

In [4]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="hospital_db"
    )
    
    cursor = connection.cursor()
    
    get_patient_count_query = '''
        SELECT COUNT(*) AS "total_patient"
        FROM Patient
        WHERE date_part('year', date_of_birth) > 1990;
    '''
    
    cursor.execute(get_patient_count_query)
    print(cursor.fetchall())
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

[(3,)]

<hr/>

#### 4. GET the appointments made with “Surgeon” specialized doctors.

In [5]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="hospital_db"
    )
    
    cursor = connection.cursor()
    
    get_appointments_query = '''
        SELECT * 
        FROM Appointment app
        JOIN Doctor doc
        ON app.doctor_id = doc.id
        JOIN Doctor_Specialization doc_spec
        ON doc.specialization = doc_spec.id
        WHERE doc_spec.specialization_type = 'Surgeon';
    '''
    
    cursor.execute(get_appointments_query)
    print(cursor.fetchall())
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

[(4, 2, 1, 1500, 'Back Pain', 2, 'Michelle Sanders', 2, '1899912310', 2, 'Surgeon')]

#### 5. UPDATE fees of appointments and reduce them by 25%.

In [6]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="hospital_db"
    )
    
    cursor = connection.cursor()
    
    reduce_fee_query = '''
        UPDATE Appointment
        SET fee = fee - 0.25 * fee;
    '''
    
    get_record_query = '''
        SELECT *
        FROM Appointment;
    '''
    
    cursor.execute(reduce_fee_query)
    cursor.execute(get_record_query)
    print(cursor.fetchall())
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

[(1, 1, 2, 750, ''), (2, 1, 4, 750, 'Headache'), (3, 4, 3, 1500, ''), (4, 2, 1, 1125, 'Back Pain')]

#### 6. UPDATE phone_number of Chaz Smith to 1231292310.

In [7]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="hospital_db"
    )
    
    cursor = connection.cursor()
    
    update_number_query = '''
        UPDATE Doctor
        SET phone_number = '1231292310'
        WHERE name = 'Chaz Smith';
    '''
    
    get_record_query = '''
        SELECT *
        FROM Doctor;
    '''
    
    cursor.execute(update_number_query)
    cursor.execute(get_record_query)
    print(cursor.fetchall())
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

[(1, 'Lional Smart', 1, '2811232323'), (2, 'Michelle Sanders', 2, '1899912310'), (3, 'Pretti Patel', 3, '7980123982'), (4, 'Sadiq Khan', 1, '7983129813'), (5, 'Chaz Smith', 2, '1231292310')]

#### 7. DELETE all doctors who are specialized as “Psychiatrist”.

In [8]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="hospital_db"
    )
    
    cursor = connection.cursor()
    
    delete_doc_specialization_query = '''
        DELETE from Doctor doc
        USING Doctor_Specialization doc_spec
        WHERE doc.specialization = doc_spec.id
        AND doc_spec.specialization_type = 'Psychiatrist'; 
    '''
    
    get_record_query = '''
        SELECT *
        FROM Doctor;
    '''
    
    cursor.execute(delete_doc_specialization_query)
    cursor.execute(get_record_query)
    print(cursor.fetchall())
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

[(1, 'Lional Smart', 1, '2811232323'), (2, 'Michelle Sanders', 2, '1899912310'), (4, 'Sadiq Khan', 1, '7983129813'), (5, 'Chaz Smith', 2, '2039820398')]