## Part 1
### Question 1: General questions
#### a. Using Map with lambda function generates a third list with a single map statement that sums the integer elements of the same index of two given lists.


lst1=[100, 200, 300, 400, 500] <br/>
lst2=[1,10,100,1000,10000]

Should return with a single statement :  [101, 210, 400, 1400, 10500]

In [1]:
list_1 = [100, 200, 300, 400, 500]
list_2 = [1,10,100,1000,10000]

list(map((lambda x, y: x + y), list_1, list_2))

[101, 210, 400, 1400, 10500]

<br/>

#### b. Write a function that takes a string and returns the dictionary with each character as key and its count as value.
For example: 
result  = myfunc ("aaaaabbbbcccdde")

Should return 
{ ’a’ : 5, ’b’ : 4, ’c’ : 3, ’d’ : 2, ’e’ : 1 }

In [3]:
def char_count(my_string):
    return {i: my_string.count(i) for i in set(my_string)}

result = char_count("aaaaabbbbcccdde")
result

{'c': 3, 'a': 5, 'e': 1, 'd': 2, 'b': 4}

<br/>

#### c. The dictionary  given below consists of vehicles and their weights in kilograms. Construct a list of the names of vehicles with weight below 5000 kilograms. In the same list comprehension makes the key names all uppercase. Use just a single comprehension statement to achieve it.
	
dict={
"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110
}

Solution should be just a statement with list comprehension like below <br/>
List = [ use comprehension to achieve the result in single statement ]

In [4]:
my_dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}

[key.upper() for key, value in my_dict.items() if value < 5000]

['SEDAN', 'SUV', 'PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

<hr/>

### Question 3: Balance a sequence of brackets

In [5]:
def is_balanced(my_sequence):
    my_stack = []

    open_brackets = ['(', '[', '{']
    close_brackets = [')', ']', '}']

    for i in my_sequence:
        if i in open_brackets:
            my_stack.append(i)
        else:
            index = close_brackets.index(i)
            if len(my_stack) > 0 and (open_brackets[index] == my_stack[-1]):
                my_stack.pop()                
            else:
                return "NO"

    return "YES" if len(my_stack) == 0 else "NO"

print(is_balanced("{}(]{"))
print(is_balanced("{}[]()[(())]"))

NO
YES

<hr/>

## Part 2
### 1. Create generator with and without comprehension for getting multiples of given number upto 10.
a. Eg. generator(5) =>> 5, 10, 15 …. 50

#### with comprehension

In [6]:
def get_multiple_gen(digit):
    return (digit*count for count in range(1, 11))

for i in get_multiple_gen(5):
    print(i, end=' ')

5 10 15 20 25 30 35 40 45 50

#### without comprehension

In [7]:
def get_multiple_gen(x):
    for count in range(1, 11):
        yield x*count
        
for i in get_multiple_gen(5):
    print(i, end=' ')

5 10 15 20 25 30 35 40 45 50

<br/>

### 2. Create a scenario where the following errors are handled:
a. Custom Error implemented using class <br/>
b. Custom Error using Exception or BaseException class using message to handle at least two of the cases. <br/>
c.The full-fledged case for exception handling using try, except, else, finally

##### Scenario: Check student marks in Computer subject.

In [8]:
class InvalidMarks(Exception):
    pass

def check_marks(marks):
    try:
        if marks > 0 and marks < 40:
            raise BaseException
        elif marks <= 0:
            raise InvalidMarks("Please enter a valid marks.")
        elif marks >= 100:
            raise InvalidMarks("You can't score more than 100, right?")
    
    except InvalidMarks as err_msg:
        print(err_msg)
    
    except:
        print("Sorry, you have failed in this module!")
    
    else:
        print("Congratulations, you have passed!")
    
    finally:
        print("All the best for your upcoming days!")
    

check_marks(80)

Congratulations, you have passed!
All the best for your upcoming days!

<br/>

### 3. Create at least 4 classes having semantic meaning (having relation to each other) so that multiple inheritance can be achieved and incorporating the following things in some of them:
a. @classmethod <br/>
b. @staticmethod <br/>
c. @property and setter for it <br/>
d. Class_variable

In [9]:
class Customer:
    def __init__(self, customer_name):
        self.customer_name = customer_name
    
    @property
    def customer_identity(self):
        return self.customer_name

    @customer_identity.setter
    def customer_identity(self, new_customer_name):
        self.customer_name = new_customer_name
    
    def get_customer_name(self):
        return self.customer_name
    

class Category:
    def __init__(self, category_id):
        self.category_id = category_id 
        
    def get_category(self):
        if self.category_id == 'STN':
            return "Stationary"
        else:
            return "Miscellaneous"
        
    def __str__(self):
        return "{} is {}".format(self.category_id, self.get_category())
    
    @classmethod 
    def using_string(cls, string):
        category_id = string
        return cls(category_id)
    
    
class Item(Category):
    def __init__(self, item_name, available_quantity, category_id):
        super().__init__(category_id)
        self.item_name = item_name
        self.available_quantity = available_quantity
    
    # a static method to check if an item is available or not
    @staticmethod
    def is_available(quantity):
        return True if quantity > 0 else False   
    
    def get_item_name(self):
        return self.item_name
    

class Order(Customer, Item):
    address = "Nepal"
    order_list = []
    def __init__(self, customer_name, item_name, available_quantity, category_id, ordered_quantity):
        Customer.__init__(self, customer_name)
        Item.__init__(self, item_name, available_quantity, category_id)
        self.ordered_quantity = ordered_quantity
        
    def order_message(self):
        return "The customer {} from {} ordered an item {} of category {}.".format(super().get_customer_name(),
                                                                                   self.address,
                                                                                   super().get_item_name(),
                                                                                   super().get_category())  
    
    @property
    def order_list(self):
        return [super().get_customer_name(), self.address, super().get_item_name(), super().get_category(), self.ordered_quantity]

In [10]:
order = Order('Charles William', 'Geometry box', 5, 'STN', 2)
print(order.is_available(5))
print(order.order_message())

True
The customer Charles William from Nepal ordered an item Geometry box of category Stationary.

In [11]:
order.customer_identity = "Charles Michael"
order.order_message()

'The customer Charles Michael from Nepal ordered an item Geometry box of category Stationary.'

In [13]:
cat = Category.using_string('SHA')
print(cat)

SHA is Miscellaneous

<br/>

### 4. Create a class for complex number implementing all the arithmetic operations and relational operations related dunder methods. 
Eg. __add__, __iadd__, __mult__, __eq__, __lt__, …

In [14]:
class ComplexNumber:
    def __init__(self, a):
        self.a = a
    
    def __add__(self, b):
        return self.a + b
    
    def __sub__(self, b):
        return self.a - b
    
    def __iadd__(self, b):
        self.a = self.a + b
        return self.a
    
    def __mul__(self, b):
        return self.a * b
    
    def __div__(self, b):
        return self.a / b
    
    def __floordiv__(self, b):
        return self.a // b 
    
    def __mod__(self, b):
        return self.a % b
    
    def __pow__(self, b):
        return self.a ** b
    
    def __eq__(self, b):
        return self.a == b
    
    def __lt__(self, b):
        return self.a < b
    
    def __gt__(self, b):
        return self.a > b
    
    def __le__(self, b):
        return self.a <= b
    
    def __ge__(self, b):
        return self.a >= b

    def __ne__(self, b):
        return self.a != b
    
    def __gt__(self, b):
        return self.a > b

In [15]:
obj = ComplexNumber(50)
print(obj.__add__(5))
print(obj.__iadd__(5))
print(obj.__mul__(5))
print(obj.__eq__(5))
print(obj.__lt__(5))

55
55
275
False
False

<br/>

### 5. Create a Class representing the clone behavior of lists in python.
a. Eg. List(“1234”) works same as list(“1234”) <br/>
b. Adding 2 lists, multiple ways of instantiating using @classmethod.

In [16]:
class List():
    def __init__(self, my_list):
        self.my_list = my_list
        
    def display_clone(self):
        return list(self.my_list)
    
    @classmethod
    def add_list(cls, my_list, my_second_list):
        return cls(list(map((lambda x, y: x + y), my_list, my_second_list)))

In [17]:
obj_list = List("1234")
obj_list.display_clone()

['1', '2', '3', '4']

In [18]:
obj_list_2 = List.add_list([1, 1, 1, 1], [1, 2, 3, 4])
obj_list_2.display_clone()

[2, 3, 4, 5]

<br/>

### 6. Replicate the behaviour of range() object using :
#### a. Iterator class, __iter__ and __next__

In [19]:
class Range:
    def __iter__(self):
        self.i = 1
        return self

    def __next__(self):
        x = self.i
        self.i += 1
        return x

range_obj = Range()
my_iter = iter(range_obj)

print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

1
2
3
4

#### b. Generator

In [20]:
def get_odd_gen(x):
    while x > 0:
        if x%2 != 0:
            yield x
        x -= 1
    
        
for i in get_odd_gen(5):
    print(i)

5
3
1

#### c. Generator comprehension

In [21]:
[i for i in get_odd_gen(4)]

[3, 1]

<hr/>

## Part 3

- Create a connection to a postgres database using psycopg2
- Create a table named 'users'
    -- columns -> id, name, dob, profession
- Create table names `address`
    -- Columns -> id, user_id (FK -> users), permanent_address, temporary_address

In [22]:
import psycopg2 as pg2

In [23]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="users_db"
    )
    
    cursor = connection.cursor()
    
    create_users_query = '''
        CREATE TABLE IF NOT EXISTS users (
            id INT PRIMARY KEY,
            name VARCHAR(100) NOT NULL,
            dob DATE NOT NULL,
            profession VARCHAR(50) NOT NULL
        );   
    '''
    
    create_address_column = '''
        CREATE TABLE IF NOT EXISTS address (
            id INT PRIMARY KEY,
            user_id INT NOT NULL,
            permanent_address VARCHAR(50) NOT NULL,
            temporary_address VARCHAR(50) NOT NULL,
            CONSTRAINT user_fk FOREIGN KEY(user_id) REFERENCES users(id) ON DELETE CASCADE 
        );
    '''
    
    cursor.execute(create_users_query)
    cursor.execute(create_address_column)    

    connection.commit()
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

- Insert dummy data in the tables using psycopg connection

In [24]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="users_db"
    )
    
    cursor = connection.cursor()
       
    users_data = [
        {
            'id': 101,
            'name': 'Andrew Ran',
            'dob': '2015-01-02',
            'profession': 'Student'
        },
        {
            'id': 102,
            'name': 'Rain Bow',
            'dob': '2001-10-03',
            'profession': 'Data Engineer'
        },
        {
            'id': 103,
            'name': 'Michael Rai',
            'dob': '1999-10-01',
            'profession': 'Data Scientist'
        },
        {
            'id': 104,
            'name': 'Prince Wales',
            'dob': '1998-10-13',
            'profession': 'Frontend Developer'
        },
        {
            'id': 105,
            'name': 'Hayden Ian',
            'dob': '1991-11-03',
            'profession': 'Professor'
        },
    ]
    
    insert_users_query = '''
        INSERT INTO users VALUES (%(id)s, %(name)s, %(dob)s, %(profession)s)
    '''
    
    address_data = [
        {
            'id': 201,
            'user_id': 101,
            'permanent_address': 'Dharan',
            'temporary_address': 'Kathmandu',
        },
        {
            'id': 202,
            'user_id': 102,
            'permanent_address': 'Chitwan',
            'temporary_address': 'Butwal',
        },
        {
            'id': 203,
            'user_id': 103,
            'permanent_address': 'Lalitpur',
            'temporary_address': 'Bhaktapur',
        },
        {
            'id': 204,
            'user_id': 104,
            'permanent_address': 'Dharan',
            'temporary_address': 'Itahari',
        },
        {
            'id': 205,
            'user_id': 105,
            'permanent_address': 'Kathmandu',
            'temporary_address': 'Biratnagar',
        }
    ]
    
    insert_address_query = '''
        INSERT INTO address VALUES (%(id)s, %(user_id)s, %(permanent_address)s, %(temporary_address)s)
    '''
    
    cursor.executemany(insert_users_query, users_data)
    cursor.executemany(insert_address_query, address_data)
    

    connection.commit()
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()


- Fetch data from the joined users and address table 
    -- given user_id
    -- given profession and permanent_address

In [25]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="users_db"
    )
    
    cursor = connection.cursor()
    
    get_user_address_query = '''
        SELECT * 
        FROM users u
        JOIN address a
        ON u.id = a.user_id
        WHERE a.user_id = 101 
        AND profession = 'Student'
        AND permanent_address = 'Dharan';
    '''
    
    cursor.execute(get_user_address_query)
    print(cursor.fetchall())
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

[(101, 'Andrew Ran', datetime.date(2015, 1, 2), 'Student', 201, 101, 'Dharan', 'Kathmandu')]

- Update table users and add column gender

In [26]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="users_db"
    )
    
    cursor = connection.cursor()
    
    update_users_query = '''
        ALTER TABLE users
        ADD COLUMN gender VARCHAR(10) NOT NULL DEFAULT 'Male';
    '''
    
    get_users_query = '''
        SELECT * 
        FROM users;
    '''
    
    cursor.execute(update_users_query)
    cursor.execute(get_users_query)
    print(cursor.fetchall())
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

[(101, 'Andrew Ran', datetime.date(2015, 1, 2), 'Student', 'Male'), (102, 'Rain Bow', datetime.date(2001, 10, 3), 'Data Engineer', 'Male'), (103, 'Michael Rai', datetime.date(1999, 10, 1), 'Data Scientist', 'Male'), (104, 'Prince Wales', datetime.date(1998, 10, 13), 'Frontend Developer', 'Male'), (105, 'Hayden Ian', datetime.date(1991, 11, 3), 'Professor', 'Male')]

- Delete records from user whose age is less than 20 yrs

In [27]:
try:
    connection = pg2.connect(
        host="localhost",
        user="postgres",
        password="sql-admin",
        port="5432",
        database="users_db"
    )
    
    cursor = connection.cursor()
    
    delete_users_query = '''
        DELETE FROM users
        WHERE date_part('year', now()) - date_part('year', dob) < 20;
    '''
    
    get_users_query = '''
        SELECT * 
        FROM users;
    '''
    
    cursor.execute(delete_users_query)
    cursor.execute(get_users_query)
    print(cursor.fetchall())
    
except Exception as e:
    print("An error has occured", e)
    
finally:
    cursor.close()
    connection.close()

[(102, 'Rain Bow', datetime.date(2001, 10, 3), 'Data Engineer'), (103, 'Michael Rai', datetime.date(1999, 10, 1), 'Data Scientist'), (104, 'Prince Wales', datetime.date(1998, 10, 13), 'Frontend Developer'), (105, 'Hayden Ian', datetime.date(1991, 11, 3), 'Professor')]